body{
    font-family: sans-serif;
    background-color: blue;
}

ol{ list-style:decimal;
    width: 100px;
    margin: 20px auto;
}

li {
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px 0px;
    background-color: darksalmon;
    list-style-position: inside;
}