body{
    font-family: sans-serif;
    background-color: blue;
}

ul{
    width: 100px;
    list-style: none;
    margin: 20px auto;
}

li{
    text-align:center;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    background-color: darksalmon;
}